* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Itim;
}

@font-face {
  font-family: Itim; 
  src: url(./assets/font/Itim-Regular.ttf) 
}

@font-face {
  font-family: Poppins; 
  src: url(./assets/font/Poppins-Regular.ttf) 
}

a {
  color: white;
  text-decoration: none;
}